<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobo.wxpay">
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name="com.jobo.wxpay.activity.WXPayActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.jobo.wxpay.activity.WXPayActivity" />
    </application>
</manifest>